<%- include partials/header.ejs %>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-5 " ><%= title%></h1>
            <div class="row center">
                <h5 class="header col s12 light" style="color:black;"><%= message%></h5>
            </div>
            <div class="row center">
                <a href="#summary" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Who am I?</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="/images/background2.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div id="summary" class="row">
            <div class="col s12 m12">
                <div class="icon-block">
                    <h2 id="start"class="center brown-text"><a href="#"><i class="material-icons">home</i></a></h2>
                    <h5 class="center">Summary</h5>

                    <p class="light">An enthusiastic and honest individual who is full of passion and chases perfection; outstanding academic grades and strong logical thinking and problem solving ability; excellent time management skills, works well under pressure and enjoys being a contributing member of a team.</p>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="icon-block">
                    <h2 id="start"class="center brown-text"><a href="#"><i class="material-icons">home</i></a></h2>
                    <h5 class="center">Core Competencies</h5>
                </div>
            </div>
            <div class="col s12 m2">
                <div class="icon-block">
                    <h5 class="center">Programming</h5>
                    <p class="light">Strong ability of Java and .NET programming (GUI Application, familiarly with algorithms and data structure)</p>
                </div>
            </div>

            <div class="col s12 m2">
                <div class="icon-block">
                    <h5 class="center">Web</h5>
                    <p class="light">Design and create dynamic websites using HTML, CSS, PHP, JavaScript</p>
                </div>
            </div>

            <div class="col s12 m2">
                <div class="icon-block">
                    <h5 class="center">Database</h5>
                    <p class="light">Experienced with Oracle reports builder, Oracle discoverer, Oracle SQL Developer and Oracle ERP system;Familiar with MySQL and Oracle database
                    </p>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="icon-block">
                    <h5 class="center">Analyse Skill</h5>

                    <p class="light">Analyse problems and develop solutions independently;Familiar with SDLC, UML and Test-driven development (Project development experience)
                    </p>
                </div>
            </div>
            <div class="col s12 m2">
                <div class="icon-block">
                    <h5 class="center">Systems</h5>
                    <p class="light">Experienced with Linux environment (Ubuntu);Creating jobs and submitting them for execution using JCL on a mainframe running IBM zOS
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<%- include partials/footer.ejs %>
