<%- include partials/header.ejs %>
<h1><%= title %></h1>
<p><%= message %></p>
<p>Hello every body! My name is Baisen Wang.</p>
<p>I will write more information later!</p>
<%- include partials/footer.ejs %>
