<%- include partials/header.ejs %>
<h1><%= title %></h1>
<p><%= message %></p>
<p>I can help you with your academic courses.</p>
<p>I can build web site for you.</p>
<p>I can build software for you.</p>
<%- include partials/footer.ejs %>
