<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Parallax Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="https://www.google.ca/search?q=computer+backgrounds&tbm=isch&tbo=u&source=univ&sa=X&ved=0ahUKEwj0-fm32vrLAhXpyIMKHYsyCUYQsAQIGw&biw=1366&bih=670#tbm=isch&q=icon" class="brand-logo">I am the Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="grey-text" href="#java">  Java </a></li>
            <li><a class="grey-text" href="#c">   C   </a></li>
            <li><a class="grey-text" href="#web">  Web  </a></li>
            <li><a class="grey-text" href="#database"> Database </a></li>
            <li><a class="grey-text" href="#mainframe"> Mainframe </a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2" >A Computer Programmer</h1>
            <div class="row center">
                <h5 class="header col s12 light" style="color:black;">There is an another world called computer world<br />Here we use computer language to communicate.</h5>
            </div>
            <div class="row center">
                <a href="#start" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="/images/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m12">
                <div class="icon-block">
                    <h2 id="start"class="center brown-text"><a href="#"><i class="material-icons">home</i></a></h2>
                    <h5 class="center">Summary</h5>

                    <p class="light">In fact we have 2 different world. The one is the real world, we use English, Chinese, Franch and so on. The another one is computer world, here we use our computer language.<br/>This website is to introduce some computer languages what I learned so far. They are JAVA, C, Web(Include html css javascript and php), Database(Mysql), Mainframe(not a language)</p>
                </div>
            </div>
            <div class="col s12 m2">
                <div class="icon-block">
                    <h2 class="center brown-text"><a href="#java"><i class="material-icons">flash_on</i></a></h2>
                    <h5 class="center">JAVA</h5>

                    <p class="light">JAVA programming language was originally developed by Sun Microsystems which was initiated by James Gosling and released in 1995 as core component of Sun Microsystems' Java platform</p>
                </div>
            </div>

            <div class="col s12 m2">
                <div class="icon-block">
                    <h2 class="center brown-text"><a href="#c"><i class="material-icons">flash_on</i></a></h2>
                    <h5 class="center">C</h5>

                    <p class="light">Like most imperative languages in the ALGOL tradition, C has facilities for structured programming and allows lexical variable scope and recursion, while a static type system prevents many unintended operations.</p>
                </div>
            </div>

            <div class="col s12 m2">
                <div class="icon-block">
                    <h2 class="center brown-text"><a href="#web"><i class="material-icons">flash_on</i></a></h2>
                    <h5 class="center">Web</h5>

                    <p class="light">Web is pretty obvisously, we can see it everytime when we surf in the internet. But really few people know the web languages. What I learn are html, css, javascript, and php. Just like website, I use all of them to bulid this website.</p>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><a href="#database"><i class="material-icons">flash_on</i></a></h2>
                    <h5 class="center">Database</h5>

                    <p class="light">A database is an organized collection of data. It is the collection of schemas, tables, queries, reports, views and other objects. The data are typically organized to model aspects of reality in a way that supports processes requiring information.</p>
                </div>
            </div>
            <div class="col s12 m2">
                <div class="icon-block">
                    <h2 class="center brown-text"><a href="#mainframe"><i class="material-icons">flash_on</i></a></h2>
                    <h5 class="center">Mainframe</h5>

                    <p class="light">IBM mainframes are large computer systems produced by IBM from 1952 to the present. During the 1960s and 1970s, the term mainframe computer was almost synonymous with IBM products due to their marketshare.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="java" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
        </div>
    </div>
    <div class="parallax"><img src="/images/backgroundJAVA.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><a href="#"><i class="mdi-content-send brown-text"></i></a></h3>
                <h4>JAVA</h4>
                <p class="left-align light">Java is a general-purpose computer programming language that is concurrent, class-based, object-oriented, and specifically designed to have as few implementation dependencies as possible. It is intended to let application developers "write once, run anywhere" (WORA), meaning that compiled Java code can run on all platforms that support Java without the need for recompilation. Java applications are typically compiled to bytecode that can run on any Java virtual machine (JVM) regardless of computer architecture. As of 2016, Java is one of the most popular programming languages in use, particularly for client-server web applications, with a reported 9 million developers.</p>
            </div>
        </div>

    </div>
</div>

<div id="c" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="backgroundC.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><a href="#"><i class="mdi-content-send brown-text"></i></a></h3>
                <h4>C</h4>
                <p class="left-align light">Like most imperative languages in the ALGOL tradition, C has facilities for structured programming and allows lexical variable scope and recursion, while a static type system prevents many unintended operations. In C, all executable code is contained within subroutines, which are called "functions" (although not in the strict sense of functional programming). Function parameters are always passed by value. Pass-by-reference is simulated in C by explicitly passing pointer values. C program source text is free-format, using the semicolon as a statement terminator and curly braces for grouping blocks of statements.</p>
            </div>
        </div>

    </div>
</div>

<div id="web" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="backgroundWEB.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><a href="#"><i class="mdi-content-send brown-text"></i></a></h3>
                <h4>WEB</h4>
                <p class="left-align light">Web is pretty obvisously, we can see it everytime when we surf in the internet. But really few people know the web languages. What I learn are html, css, javascript, and php. Just like website, I use all of them to bulid this website. Html is for the whole content and structure, CSS is to make up the website (make the website more beautiful), Javascript is for interaction and PHP is to deliver data to make the static web page to dynamic web page.</p>
            </div>
        </div>

    </div>
</div>
<div id="database" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="backgroundDATABASE.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><a href="#"><i class="mdi-content-send brown-text"></i></a></h3>
                <h4>DATABASE</h4>
                <p class="left-align light">A database is an organized collection of data.[1] It is the collection of schemas, tables, queries, reports, views and other objects. The data are typically organized to model aspects of reality in a way that supports processes requiring information, such as modelling the availability of rooms in hotels in a way that supports finding a hotel with vacancies.<br />What I learn is MySQL which is one kind of database laguage. Beyond this there are SQL sever, Oracle Database, DB2 and so on. But anyway, they are all to save data.</p>
            </div>
        </div>

    </div>
</div>
<div id="mainframe" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="backgroundMAINFRAME.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><a href="#"><i class="mdi-content-send brown-text"></i></a></h3>
                <h4>MAINFRAME</h4>
                <p class="left-align light">IBM mainframes are large computer systems produced by IBM from 1952 to the present. During the 1960s and 1970s, the term mainframe computer was almost synonymous with IBM products due to their marketshare. Current mainframes in IBM's line of business computers are developments of the basic design of the IBM System/360.</p>
            </div>
        </div>

    </div>
</div>



<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">If you want to learn computer, there will be a long way to go!</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Georgian College</h5>
                <p class="grey-text text-lighten-4">Major: Computer Programmer<br/>
                    Contact: Boshen.Yang@MyGeorgian.ca</p>


            </div>


        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="#">Nero</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize.js"></script>
<script src="/javascripts/init.js"></script>

</body>
</html>
