.footer-widgets .widget_quick-flickr-widget ul li,
.footer-widgets .dribbble-widget ul li {
  margin: 0px !important;
}

.authorinfo{
  height:100px;
  padding-top: 40px;
}

.authorinfo{
  height: 150px;
}
.section-culture-area{
  height:40px;
}

section#content-about.main-content.custom-padding.shadow-off {
  padding-top: 90px;
  padding-bottom: 30px;
}

.section-culture-area .scroll-btn i.circle{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
  width: 16px;
  height: 16px;

  border-right: 2px solid #000;
  border-bottom: 2px solid #000;

  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.section-culture-area .scroll-btn i.circle:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -4px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: transparent;
  content: "";

  -webkit-transition: background 0.1s ease-in-out 0s;
  transition: background 0.1s ease-in-out 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.section-culture-area .scroll-btn:hover i.circle {
  background: #ccc;
}

.footer-widgets h4 {
  margin-bottom: 25px;
  color: #717580;
  text-transform: uppercase;
  font-weight: 500 !important;
  font-size: 16px;
}

#content-drupal h3{
  font-size: 20px;
}

.section-full-area .scroll-btn.black:hover i.circle:after {
  background: #444649;
}

.section-full-area .scroll-btn i.circle.black {
  border-color: #444649;
}

.section-full-area .scroll-btn i.circle {
  border-left: 0px;
  border-top: 0px;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}

.greenback a{
  color:#000;
}

.greenback a:hover{
  color: #6c6c6c;
}

#blog a:hover h2,
#blog a:hover .published,
#blog a:hover p{
  color: #0cb4aa;
}

#blog p{
  color: #444649;
}

#content-about .box.listed-left{
  padding:0px;
}

.vacature h3{
  color: #0cb4aa;
}
/*
.overlay-bg-fill {
  background: #191919;
}
*/

/*
body, #main{
  background:#2D3032;
  color:#fff;
}

h1, h2, h3, h4, h5, h6{
  color:#fff;
}

#blog p{
  color:#fff;
}*/

#blog .container #post-area img,
#blog img.media-image,
.main-content .drupal-design p img,
#content .single-image img{
  border: #F1F0F0 4px solid;
}

.default.mobile-special-heading.lead-form-bottom{
  padding-bottom: 30px !important;
}

.wpcf7.lead-form-bottom{
  color:#fff;
}

input.lead-form-bottom-submit{
  color:#fff;
  background-color: #0cb4aa;
  border-color: #fff;
}

.wpcf7 .company{
  display:none;
}

.scroll-btn.leesverder{
   position: relative;
   bottom: 0px;
   left: 0%;
   z-index: 100;
   display: inline;
   width: auto;
   height: auto;
   margin-left: 0px;
}

.special-heading a{
  color:#000;
}
.special-heading a:hover{
  text-decoration: underline;
}
/* fix for mobile lead paragraph */

@media (max-width: 480px) {
  .special-heading p{
    font-size: 1.2em !important;
    margin-top: 20px;
    line-height: 1.3em !important;
  }
}

.story-mugshot{
  float: right;
  margin: 0 0 15px 20px;
  padding: 0 15px;
  text-align: center;
  color: #6f6e6e;
  font-size: 12px;
}

.story-mugshot img{
  border:0 !important;
}

.about-phone-user,
.about-name-user{
  padding:0;
  margin:0;
  line-height: 18px;
}

.about-image{
  height:150px;
  margin-bottom: 12px;
}

.about-social-icons {
  margin-top: 9px;
}

.col-md-4 .story-mugshot{
  padding: 25px 60px;
}
.site_audit_promo{
  background-color: #f5f5f5;
  padding:20px 0px;
}

.button-main.inverted:hover {
  background-color: #fff;
  color: #0DCBC0;
}

#wat-doen-we-title h2{
  font-size: 40px;
}

.portfolio-list{
  background: #2d3032;
}

.portfolio-list-image{
  border:5px #fff solid;
}

#portfolio-filter .portfolio-right ul li a.selected {
  color: #0DCBC0;
}
#portfolio-filter .portfolio-right ul li a:hover{
  color: #0DCBC0;
}

#post-area h2 {
  font-size: 30px;
  margin: 40px 0 30px 0;
}